<div class="container text-center mt-5">
    <h1 class="display-4">Your Cart is Empty</h1>
    <p class="lead">It looks like you haven't added anything to your cart yet.</p>
    <img src="~/cart/assets/img/empty cart.png" alt="Empty Cart" class="img-fluid mb-4" style="max-width: 400px;">
    <div>
        <a href="/Customer/Home" class="btn btn-primary btn-lg">
            Return to Shopping
        </a>
    </div>
</div>